.row-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.1rem;
	background-color: #f2f7ff;
	padding: 0.5rem 0.75rem;
	margin-bottom: 0.4rem;
	border-radius: 6px;
}

.row-item:nth-child(odd) {
	background-color: #e9f9f1;
}

.actions {
	display: flex;
	gap: 0.5rem;
}

